.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #FFFFF3;
}

@font-face {
  font-family: britanica;
  src: url(../public/britanica-extrabold.ttf);
}
.britanica {
  font-family: britanica;
}