.Featured {
    width: 1240px;
    height: 700px;
}

.name {
    font-family: britanica;
}

.button_1:hover {
    box-shadow: 5px 5px #000000;
}

.button_2:hover {
    box-shadow: 5px 5px #000000;
}

.banner:hover {
    box-shadow: 6px 6px #000000;
}