.Popular {
    width: 1240px;
    height: 538px;
}

.header {
    align-items: center;
}

.button_1 {
    width: 121.98px;
    height: 36.08px;
    background: #FDD400;
    border: 1.5px solid #000000;
    border-radius: 5px;
}

.header h1 {
    font-family: britanica;
}

.searchBox:focus {
    box-shadow: 5px 5px #000000;
}

.searchButton:hover {
    box-shadow: 5px 5px #000000;
}

.bannerTitle {
    font-family: britanica;
}