.Top {
    width: 1241px;
    height: 650px;
}

.topDev{
    box-shadow: 10px 10px;
    border-radius: 10px;
}

.title{
    font-family: britanica;
}

.topBtn:hover {
    box-shadow: 5px 5px #000000;
}

.topBox {
    
    box-shadow: 10px 10px #000000;
}