.Statistic {
    width: 1152px;
    height: 377.14px;
}

.britanica {
    font-family: britanica;
}

.statBox {
    border-radius: 10px;
    box-shadow: 10px 10px #000000;
}

.button:hover {
    box-shadow: 10px 10px #000000;
}