.Benefits {
    width: 1440px;
    height: 770px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Benefits h1 {
    font-family: britanica;
    font-size: 50px;
    padding-left: 90px;
}

.Benefits_List {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.Benefits_1 {
    width: 295px;
    height: 400px;
    background-color: #FFD7C3;
    border: 3px solid #000000;
    border-radius: 10px;
}

.Benefits_1:hover {
    box-shadow: 5px 5px 0px black;
    transition: all 0.3s;
}

.Benefits_1 img {
    padding: 30px;
}

.Benefits_1 h1 {
    font-family: britanica;
    font-size: 35px;
    padding-left: 30px;
    padding-top: 150px;
}

.Benefits_2 {
    width: 295px;
    height: 400px;
    background-color: #D0EA57;
    border: 3px solid #000000;
    border-radius: 10px;
}

.Benefits_2:hover {
    box-shadow: 5px 5px 0px black;
    transition: all 0.3s;
}

.Benefits_2 img {
    padding: 30px;
}

.Benefits_2 h1 {
    font-family: britanica;
    font-size: 35px;
    padding-left: 30px;
    padding-top: 150px;
}

.Benefits_3 {
    width: 295px;
    height: 400px;
    background-color: #FDD400;
    border: 3px solid #000000;
    border-radius: 10px;
}

.Benefits_3:hover {
    box-shadow: 5px 5px 0px black;
    transition: all 0.3s;
}

.Benefits_3 img {
    padding: 30px;
}

.Benefits_3 h1 {
    font-family: britanica;
    font-size: 35px;
    padding-left: 30px;
    padding-top: 150px;
}

.Benefits_4 {
    width: 295px;
    height: 400px;
    background-color: #32CBFC;
    border: 3px solid #000000;
    border-radius: 10px;
}

.Benefits_4:hover {
    box-shadow: 5px 5px 0px black;
    transition: all 0.3s;
}

.Benefits_4 img {
    padding: 30px;
}

.Benefits_4 h1 {
    font-family: britanica;
    font-size: 35px;
    padding-left: 30px;
    padding-top: 150px;
}