.community {
    width: 1440px;
    height: 710px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.communityTitle {
    font-family: britanica;
}

.communityBtn:hover {
    box-shadow: 5px 5px #000000;
}