.About {
    width: 1440px;
    height: 558px;
    margin: 0;
    padding: 0;
}

.featureTitle {
    font-family: britanica;
}

.contents {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.details h1 {
    font-family: britanica;
    font-size: 50px;
    line-height: 0px;
}

.details text {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
}