.About {
    width: 1440px;
    height: 558px;
    margin: 0;
    padding: 0;
}

.contents {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.details h1 {
    font-family: britanica;
    font-size: 50px;
    line-height: 0px;
}

.details text {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
}

.details button {
    background-color: #FFFFF3;
    width: 169px;
    height: 47px;
    border-radius: 10px;
    font-size: 20px;
}

.details i {
    padding-left: 5px;
}

.details button:hover {
    box-shadow: 5px 5px 0px black;
    background-color: #FDD400;
    transition: all 0.3s;
}

.others {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.others_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.text_1 h1 {
    font-family: britanica;
    font-size: 30px;
}

.text_1 text {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
}

.box_1 {
    width: 50px;
    height: 50px;
    background-color: #FFFFF3;
    border: 3px solid #000000;
    border-radius: 10px;
}

.others_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.text_2 h1 {
    font-family: britanica;
    font-size: 30px;
}

.text_2 text {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
}

.box_2 {
    width: 50px;
    height: 50px;
    background-color: #FFFFF3;
    border: 3px solid #000000;
    border-radius: 10px;
}

.others_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.text_3 h1 {
    font-family: britanica;
    font-size: 30px;
}

.text_3 text {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
}

.box_3 {
    width: 50px;
    height: 50px;
    background-color: #FFFFF3;
    border: 3px solid #000000;
    border-radius: 10px;
}