
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&family=Roboto&display=swap');

.hero {
    width: 1440px;
    height: 900px;
    margin: 0;
    padding: 0;
}

.tagline {
    display: flex;
    flex-direction: row;
    gap: 170px;
    justify-content: center;
    align-items: center;
}

.tagline img {
    margin-bottom: -48px;
}

.tagline_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.tagline_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.tagline_text h1 {
    font-family: britanica;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
}

.tagline_text text {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.tagline_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.tagline img {
    width: 548px;
    height: 387.31px;
}

.features {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.feature_1 {
    background-color: #FFD7C3;
    width: 523px;
    height: 307px;
    border-radius: 10px;
    border: 3px solid #000000;
    box-shadow: 10px 10px 0 #000000;
    justify-content: center;
    text-align: center;
}

.feature_1 h1 {
    font-size: 30px;
    font-family: britanica;
    padding-top: 60px;
}

.feature_1 text {
    font-size: 18px;
    font-family: 'Plus Jakarta Sans';
    justify-content: center;
    text-align: center;
}

.feature_2 {
    background-color: #FFF402;
    width: 523px;
    height: 307px;
    border-radius: 10px;
    border: 3px solid #000000;
    box-shadow: 10px 10px 0 #000000;
    justify-content: center;
    text-align: center;
}

.feature_2 h1 {
    font-size: 30px;
    font-family: britanica;
    padding-top: 60px;
}

.feature_2 text {
    font-size: 18px;
    font-family: 'Plus Jakarta Sans';
    justify-content: center;
    text-align: center;
}

.tag_button:hover {
    box-shadow: 7px 7px #000000;
}