.Payment_1 {
    height: 570px;
}

.Confirm:hover {
    box-shadow: 5px 5px #000000;
}

.Back:hover {
    box-shadow: 5px 5px #000000;
}

.methods_2.methods_2:active {
    background-color: #FDD400;
}