.FAQ {
    width: 1440px;
    height: 1311px;
    margin: 0;
    padding: 0;
}

.FAQ_title h1 {
    font-family: britanica;
    font-size: 50px;
}

.FAQ_title {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px
}

.FAQ_title img{
    height: 88px;
    width: 88px;
}

.FAQ_List {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.FAQ_List button {
    font-family: britanica;
    background-color: #FFFFF3;
    height: 44px;
    width: 44px;
    border-radius: 10px;
    border: 3px solid #000000;
    font-size: 35px;
}

.FAQ button:hover {
    box-shadow: 5px 5px 0px black;
    transition: all 0.3s;
}

.FAQ_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 136px;
    border: 3px solid #000000;
    border-radius: 10px;
    gap: 30px;
}

.FAQ_1 h1 {
    font-family: britanica;
    font-size: 35px;
}

.FAQ_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 136px;
    border: 3px solid #000000;
    border-radius: 10px;
    gap: 30px;
}

.FAQ_2 h1 {
    font-family: britanica;
    font-size: 35px;
}

.FAQ_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 136px;
    border: 3px solid #000000;
    border-radius: 10px;
    gap: 30px;
}

.FAQ_3 h1 {
    font-family: britanica;
    font-size: 35px;
}

.FAQ_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 136px;
    border: 3px solid #000000;
    border-radius: 10px;
    gap: 30px;
}

.FAQ_4 h1 {
    font-family: britanica;
    font-size: 35px;
}

.person_image {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    gap: 650px;
}

.FAQ img {
    padding: 30px;
}