.footer {
    background-color: #ffffff;
    width: 1440px;
    /* height: auto; */
    padding: 38px;
}

.footer h1 {
    font-family: britanica;
    font-size: 24px;
}

.footer h2 {
    font-family: britanica;
    font-size: 30px;
}

.footer_content {
    width: 1375;
    height: 340;
    background-color: #FFFFF3;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* padding-top: 50px; */
    /* gap: 100px; */
    /* justify-content: center; */
    margin: 0px 70px 0px 70px;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #000000;
}

.footer_row {
    margin: auto;
    /* width: 50%; */
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 250px;
    align-items: center;
}

.foot_navbar {
    margin: auto;
    padding: 20px 50px 20px 50px ;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid #000000;
    background-color: #FFD7C3;
}

.sosmed_link {
    margin: auto;
    padding: 10px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
}