.footer {
    background-color: #ffffff;
    width: 1440px;
    padding-bottom: 38px;
}

.footer h1 {
    font-family: britanica;
    font-size: 24px;
}

.footer h2 {
    font-family: britanica;
    font-size: 30px;
}

.footer_content {
    width: 1375px;
    height: 300px;
    background-color: #FFFFF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 70px 0px 70px;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #000000;
    box-shadow: 10px 10px 0 #000000;
}

.footer_row {
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 250px;
    align-items: center;
}

.foot_navbar {
    margin: auto;
    padding: 20px 50px 20px 50px ;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid #000000;
    background-color: #FFD7C3;
}

.foot_sosmed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot_sosmed h2 {
    margin: 0;
}

.sosmed_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_1 a:hover {
    color: #FDD400;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    transition: all 0.3s;
}

.menu_2 a:hover {
    color: #32CBFC;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    transition: all 0.3s;
}

.menu_3 a:hover {
    color: #FFF402;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    transition: all 0.3s;
}