.Navbar {
    width: 1440px;
    height: 136px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

li {
    list-style: none;
    display: inline-block;
}

li > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.menu_1 a:hover {
    color: #FDD400;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    transition: all 0.3s;
}

li > a.item_1:hover::after {
    width: 100%;
    background-color: #FDD400;
    box-shadow: 1px 1px #000000;
}

.menu_2 a:hover {
    color: #32CBFC;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    transition: all 0.3s;
}

li > a.item_2:hover::after {
    width: 100%;
    background-color: #32CBFC;
    box-shadow: 1px 1px #000000;
}

.menu_3 a:hover {
    color: #FFF402;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    transition: all 0.3s;
}

li > a.item_3:hover::after {
    width: 100%;
    background-color: #FFF402;
    box-shadow: 1px 1px #000000;
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-around;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.link_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    border-radius: 10px;
    color: white;
    background-color: black;
    width: 128px;
    height: 42px;
}

.link_1:hover {
    text-align: center;
    color: black;
    background-color: #D0EA57;
    border: 3px solid #000000;
    box-shadow: 5px 5px 0 #000000;
    transition: all 0.3s;
}

.link_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    border-radius: 10px;
    color: black;
    border: 3px solid #000000;
    width: 128px;
    height: 42px;
}

.link_2:hover {
    background-color: #D0EA57;
    color: black;
    border: 3px solid #000000;
    box-shadow: 5px 5px 0 #000000;
    transition: all 0.3s;
}

.uploadBtn:hover {
    box-shadow: 5px 5px #000000;
}